<div class="d-inline-flex col-lg-12" style="padding-right: 0px;padding-left: 0px;">
    <div class="col-lg-7" style="padding-right: 0px;padding-left: 0px;background: #3C3C3C;">
        <div class="col">
            <div class="row my-3 ml-1">
                <div class="col">
                    <img src="assets/img/logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col d-inline-flex justify-content-around my-3">
                    <button [routerLink]="''" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">INICIO</button>
                    <button [routerLink]="'/citas'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">CITAS</button>
                    <button [routerLink]="'/ordenes'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">ÓRDENES</button>
                    <button [routerLink]="'/reportes'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">REPORTES</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center m-3">
                    <span style="font-size: 22px;color: #F2CA63;font-family: Athiti, sans-serif;font-weight: 500;">REPORTES CLIENTES</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="text-white ml-2" style="font-family: Athiti, sans-serif;margin-bottom: 0px;font-weight: bold;">BUSCAR:</label>
                <div class="d-flex justify-content-lg-start align-items-lg-center">
                    <input class="border rounded-pill col-8" type="text" style="font-family: Athiti, sans-serif;">
                    <button class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center mx-4" type="button" style="height: 22px;font-family: Athiti, sans-serif;font-weight: bold;background: #F2CA63;color: #3C3C3C;width: 120px;">BUSCAR</button>
                </div>
            </div>
            <div class="m-2">
                <ul class="list-unstyled">
                    <li style="color: #F2CA63;">Nombre y apellido:</li>
                    <li style="color: #F2CA63;">Cédula de indentidad:</li>
                    <li style="color: #F2CA63;">Fecha de nacimiento:</li>
                    <li style="color: #F2CA63;">Lugar de residencia:</li>
                    <li style="color: #F2CA63;">Correo electrónico:</li>
                    <li style="color: #F2CA63;">&nbsp;</li>
                    <li style="color: #F2CA63;">Datos vehículo 1:</li>
                    <li style="color: #F2CA63;">- Serial motor:</li>
                    <li style="color: #F2CA63;">- Modelo:</li>
                    <li style="color: #F2CA63;">- Año:</li>
                    <li style="color: #F2CA63;">- Placa:</li>
                </ul>
            </div>
            <div class="d-lg-flex justify-content-lg-end align-items-lg-center">
                <button class="btn d-lg-flex justify-content-lg-center align-items-lg-center" type="button" style="height: 22px;font-family: Athiti, sans-serif;font-weight: bold;background: #F2CA63;width: 150px;color: #3C3C3C;">IMPRIMIR</button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-lg-center align-items-lg-center col-lg-5" style="padding-right: 0px;padding-left: 0px;background: #F2CA63;">
        <button class="btn text-center d-lg-flex justify-content-lg-center align-items-lg-center text-white m-3" type="button" style="background: #3C3C3C;width: 235px;height: 33px;font-family: Athiti, sans-serif;font-weight: bold;">DATOS PERFIL</button>
        <button class="btn text-center d-lg-flex justify-content-lg-center align-items-lg-center text-white mb-5 mx-3" type="button" style="background: #3C3C3C;width: 235px;height: 33px;font-family: Athiti, sans-serif;font-weight: bold;">CERRAR SESIÓN</button>
        <img class="mx-3 mb-3" src="assets/img/reportes.png">
    </div>
</div>